
@font-face {
  font-family: ComicSans;
  src: url(fonts/comic.ttf);
}
  a{
    text-decoration: none;
  }
  body{
    display: flex;
    flex-direction: column;
    font-family: ComicSans;
    align-items: center;
    width: auto;
    justify-content: center;
    background-size: cover;
  }
  .desc{
    color: #f0f0f0;
    font-size: 50px;
    font-family: ComicSans;
    background-color: #666666;
    text-shadow: 1px 4px 4px #555;
    text-align: center;
    -webkit-background-clip: text;
      -moz-background-clip: text;
  }
  .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    margin-top: 25px;
  }
  .coupon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 230, 64);
    border-radius: 5px;
    padding: 25px 25px 5px 25px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  .coupon:hover{
    filter: drop-shadow(6px 6px 10px rgb(30, 195, 245));
  }
  .pic-contain{
    height: 250px;
    width: 250px;
    background-color: antiquewhite;
  }
  .par{
    background-color: black;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;

    color: #f0f0f0;
    text-shadow: 1px 4px 4px #555;
    text-align: center;
  }
  .pic{
    border-radius: 5px;
    align-self: center;
    height: 250px;
    width: auto;
  }
  .leb{
    color: #f0f0f0;
    font-size: 100px;
    font-family: ComicSans;
    background-color: #666666;
    text-shadow: 1px 4px 4px #555;
    text-align: center;
    -webkit-background-clip: text;
      -moz-background-clip: text;
  }

@media only screen and (min-width: 800px) {
  .coupons{
    display: flex;
    position: relative;
    left: -30px;
  }
  body{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
  }
}
@media only screen 
  and (max-width: 600px)
 {
  .desc{
    font-size: 5vw;
  }
  .leb{
    font-size: 15vw;
  }
  body{
      background-image: url(images/phonebkg.png);
      background-size: auto;
      background-repeat: no-repeat;
      background-attachment: fixed;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
  }
}

